/*

CSS Stylesheet Organization Guide
https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Organizing

> General Styles (Default Styling)
> Utility Classes and Site-Wide Styling
> Specific Selectors
> Animations and Transitions

CSS Rule Order Guide
https://9elements.com/css-rule-order/

> User-Defined Variables

> Generated Content
content

> Position and Layout
position-* z-index top bottom left right **flexbox properties** float clear

> Display and Visibility
display opacity transform-*

> Clipping
overflow-* clip-*

> Animation
animation-* transition-*

> Box Model
margin-* outline-* border-* box-* width height padding-*

> Background
background-* cursor

> Typography
font-* text-* color

> Pseudo-Classes & Pseudo-Elements (Nested Rules)

*/

body {
  --color-light: rgba(255, 255, 255, 1.00);
  --color-dark: rgba(000, 000, 000, 1.00);

  --color-accent: rgba(050, 200, 050, 1.00);

  --color-00: rgba(015, 060, 075, 1.00);
  --color-01: rgba(025, 0100, 125, 1.00);
  --color-02: rgba(180, 180, 180, 1.00);
  --color-03: rgba(240, 240, 240, 1.00);

  overflow: hidden visible;

  margin: 0px;
  outline: none;
  border: none;
  width: 100vw;
  padding: 0px;

  background-color: var(--color-dark);
  
  font: 16px/1 "Outfit", sans-serif;
  color: var(--color-light);
}

#root {
  width: 100%;
  height: 100%;
}