:root {
  --color-transparent: rgba(0, 0, 0, 0.00);

  --color-black: rgba(0, 0, 0, 1.00);
  --color-gray: rgba(128, 128, 128, 1.00);
  --color-white: rgba(255, 255, 255, 1.00);

  --color-red-01: rgba(125, 25, 25, 1.00);
  --color-red-02: rgba(150, 50, 50, 1.00);

  --color-green-01: rgba(0, 175, 75, 1.00);
  --color-green-02: rgba(0, 200, 100, 1.00);

  --color-blue-01: rgba(0, 75, 175, 1.00);
  --color-blue-02: rgba(0, 100, 200, 1.00);

  --color-background-01: rgba(0, 50, 50, 1.00);
  --color-background-02: rgba(100, 150, 150, 1.00);
}

body {
  margin: 0;
}