:root {
  --color-transparent: hsla(0, 0%, 0%, 0.00);

  --color-black: hsla(0, 0%, 0%, 1.00);
  --color-gray-dark: hsla(0, 0%, 50%, 1.00);
  --color-gray-light: hsla(0, 0%, 85%, 1.00);
  --color-white: hsla(0, 0%, 100%, 1.00);

  --color-red-dark: hsla(0, 84%, 24%, 1.00);
  --color-red-light: hsla(0, 84%, 48%, 1.00);

  --color-green-dark: hsla(150, 84%, 24%, 1.00);
  --color-green-light: hsla(150, 84%, 48%, 1.00);
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}