#landing {
  flex-flow: column-reverse nowrap;

  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.00), rgba(000, 000, 000, 0.50)), no-repeat center/cover url("../assets/landing.jpg");

  animation: zoom-in 2.0s cubic-bezier(0.25, 0.1, 0.25, 1);

  > :nth-child(1) {
    margin: 120px;

    user-select: none;
    pointer-events: none;

    color: var(--color-light);

    > :nth-child(1) {
      font-size: 60px;

      animation: fade-in-01 2.0s cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    > :nth-child(2) {
      font-size: 240px;
      font-weight: bold;
      line-height: 85%;

      animation: fade-in-02 2.0s cubic-bezier(0.25, 0.1, 0.25, 1);
    }
  }
}

@keyframes zoom-in {
  0% {
    background-size: 120%;
  }
  25% {
    background-size: 100%;
  }
}

@keyframes fade-in-01 {
  0% {
    opacity: 0;
    transform: translate(0px, -24px);
  }
  25% {
    opacity: 0;
    transform: translate(0px, -24px);
  }
  50% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fade-in-02 {
  0% {
    opacity: 0;
    transform: translate(0px, -24px);
  }
  25% {
    opacity: 0;
    transform: translate(0px, -24px);
  }
  50% {
    opacity: 0;
    transform: translate(0px, -24px);
  }
  75% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}