.body{
    /* width: 100vw; */
    /* height: 200vh; */
    /* background-color: #000000; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cardHeaderbgcolor{
    background-color: #1b798e;
    /* font-family: inherit; */
}

.radioButton[type=radio] {
    border: 0px;
    width: 100%;
    height: 2em;
}
.body1 {
    margin: 0;
  }
  #container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #000;
    
  } 
  .zoomcard {
    /* padding: 50px; */
    background-color: #e6ebec;
    transition: transform .2s; /* Animation */
    /* width: 200;
    height: 100%; */
    margin: 0 auto;
    border-radius: 5px;
    /* margin-top: 15px; */
    border:"2px";
    border-color: #1b798e;
    
  }
  
  .zoomcard:hover {
    transform: scale(1.07); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    background-color: #b6c4c7;
    box-shadow: #1b798e;
    box-shadow: 2p;

  }
  .zoom {
    /* padding: 50px; */
    background-color: #ced8da;
    transition: transform .2s; /* Animation */
    /* width: 200;
    height: 100%; */
    margin: 0 auto;
    border-radius: 5px;
    /* margin-top: 15px; */
    
  }
  
  .zoom:hover {
    transform: scale(1.009); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    background-color: #b6c4c7;
  }
