#seedsmap{
    /* width: 32.6vw; */
    /* width: 47.4vw; */

    height: 70vh;
    /* display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center; */
    /* position:absolute; */
    z-index: 1;
}
.body{
    width: 100vw;
    height: 100vh;
    background-color: #fffefe;
    /* padding: 3vw;
    margin: 3vw ; */
}


@import url('https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css');
@import url('https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js');
@import url('https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.css');
@import url('https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.Default.css');

