.body{
    /* width: 80vw; */
    height: 100vh;
    background-color: #b6c4c7;
    /* flex-direction: column; */
    /* align-items: flex-end; */
    /* justify-content: center; */
}

input[type=file]{
    display: none
}

.custom-file-upload {
    background-color: #fffefe;
    color: #1b798e;
    border: 2px solid #1b798e;
    /* padding: 11px 22px; */
    text-decoration: none;
    /* margin: 4px 2px; */
    cursor: pointer;
    width: 145px;
    height: 48px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-file-upload:hover {
    transition: origin .5 ease-in-out;
    background-color: #1b798e;
    color: white
}

.custom-file-upload2 {
    background-color: #29b5d5;
    color: #fffefe;
    /* border: 2px solid #fffefe; */
    /* padding: 11px 22px; */
    text-decoration: none;
    /* margin: 4px 2px; */
    cursor: pointer;
    width: 145px;
    /* height: 48px; */
    height: 20px;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-file-upload2:hover {
    transition: origin .5 ease-in-out;
    background-color: #1b798e;
    color: white
}

.button{
    background-color: #ffffff;
    color: #1b798e;
    border: 2px solid #1b798e;
    /* padding: 11px 22px; */
    text-decoration: none;
    /* margin: 4px 2px; */
    cursor: pointer;
    width: 145px;
    height: 48px;
    
    
    
}

.button:hover {
    transition: origin .5 ease-in-out;
    background-color: #1b798e;
    color: #ffffff
    
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
  }
